This notebook shows a simple example of how to trim data / make cuts based on certain chosen parameters.

In [3]:
# 
import pandas as pd 
import numpy as np

In [4]:
# The data we want to use is in GAMA_Galaxies and it is called 'GAMA_sample1.csv
!ls ../GAMA_Galaxies

GAMA_sample1.csv

In [14]:
# Import data 
path = '../GAMA_Galaxies/GAMA_sample1.csv' # .. tells your computer to move working directory "up" to parent (GAMA) and then change directories into everything following the slash / 
gama = pd.read_csv(path) 
gama

,CATAID,RA,DEC,CATAID.1,Z,nQ,SURVEY_CODE,Z_TONRY,logmstar,dellogmstar
0,6802,174.00600,0.72093,6802,0.05054,4,5,0.051814,9.076030,0.131666
1,6806,174.02279,0.70594,6806,0.33124,4,5,0.332854,10.979200,0.099166
2,6808,174.10071,0.65891,6808,0.22936,4,5,0.230851,10.791600,0.098116
3,6810,174.10908,0.80390,6810,0.32630,4,5,0.327908,11.119700,0.096136
4,6816,174.01896,0.66580,6816,0.07641,4,5,0.077715,9.012390,0.146456
...,...,...,...,...,...,...,...,...,...,...
113153,4321789,219.54175,1.20398,4321789,0.29884,4,5,0.299822,10.410600,0.131773
113154,4322179,220.18208,1.03991,4322179,0.22929,3,5,0.230207,9.689020,0.164714
113155,4327264,215.73183,1.66110,4327264,0.00006,4,5,0.000001,0.464692,0.168939
113156,4327642,222.77558,1.53559,4327642,0.00034,4,5,0.000004,1.253310,0.103429
113157,4348349,180.76758,-0.12518,4348349,0.12256,4,5,0.123897,9.825090,0.060988

In [15]:
# To drop columns (removing them from your working DataFrame
drop_col = ['CATAID.1', 'Z_TONRY', 'SURVEY_CODE'] # create a list of the column names that you want to drop 
gama = gama.drop(drop_col, axis=1) # drop these from the list

In [16]:
gama # columns should be removed

         CATAID         RA      DEC        Z  nQ   logmstar  dellogmstar
0          6802  174.00600  0.72093  0.05054   4   9.076030     0.131666
1          6806  174.02279  0.70594  0.33124   4  10.979200     0.099166
2          6808  174.10071  0.65891  0.22936   4  10.791600     0.098116
3          6810  174.10908  0.80390  0.32630   4  11.119700     0.096136
4          6816  174.01896  0.66580  0.07641   4   9.012390     0.146456
...         ...        ...      ...      ...  ..        ...          ...
113153  4321789  219.54175  1.20398  0.29884   4  10.410600     0.131773
113154  4322179  220.18208  1.03991  0.22929   3   9.689020     0.164714
113155  4327264  215.73183  1.66110  0.00006   4   0.464692     0.168939
113156  4327642  222.77558  1.53559  0.00034   4   1.253310     0.103429
113157  4348349  180.76758 -0.12518  0.12256   4   9.825090     0.060988

[113158 rows x 7 columns]

In [17]:
# To rename a column:   	
gama.rename(columns = {'nQ':'normalized redshift quality'}, inplace = True) # nQ = Normalised redshift quality (use nQ > 2 for science)

In [18]:
gama

,CATAID,RA,DEC,Z,normalized redshift quality,logmstar,dellogmstar
0,6802,174.00600,0.72093,0.05054,4,9.076030,0.131666
1,6806,174.02279,0.70594,0.33124,4,10.979200,0.099166
2,6808,174.10071,0.65891,0.22936,4,10.791600,0.098116
3,6810,174.10908,0.80390,0.32630,4,11.119700,0.096136
4,6816,174.01896,0.66580,0.07641,4,9.012390,0.146456
...,...,...,...,...,...,...,...
113153,4321789,219.54175,1.20398,0.29884,4,10.410600,0.131773
113154,4322179,220.18208,1.03991,0.22929,3,9.689020,0.164714
113155,4327264,215.73183,1.66110,0.00006,4,0.464692,0.168939
113156,4327642,222.77558,1.53559,0.00034,4,1.253310,0.103429
113157,4348349,180.76758,-0.12518,0.12256,4,9.825090,0.060988

### Filtering Data by Column

In [22]:
# To cut the GAMA DataFrame by one column: 
gama['RA']

0         174.00600
1         174.02279
2         174.10071
3         174.10908
4         174.01896
            ...
113153    219.54175
113154    220.18208
113155    215.73183
113156    222.77558
113157    180.76758
Name: RA, Length: 113158, dtype: float64

In [28]:
# Note that this returns a Pandas Series (like a column vector) rather than a Pandas DataFrame
type(gama['RA'])

pandas.core.series.Series

In [29]:
# To trim catalog by multiple columns: 
desired_columns = ['CATAID', 'RA', 'DEC', 'Z']
gama.loc[:, desired_columns]

         CATAID         RA      DEC        Z
0          6802  174.00600  0.72093  0.05054
1          6806  174.02279  0.70594  0.33124
2          6808  174.10071  0.65891  0.22936
3          6810  174.10908  0.80390  0.32630
4          6816  174.01896  0.66580  0.07641
...         ...        ...      ...      ...
113153  4321789  219.54175  1.20398  0.29884
113154  4322179  220.18208  1.03991  0.22929
113155  4327264  215.73183  1.66110  0.00006
113156  4327642  222.77558  1.53559  0.00034
113157  4348349  180.76758 -0.12518  0.12256

[113158 rows x 4 columns]

In [31]:
# Note that this is NOT like dropping columns, this slices the DataFrame but does not save it
gama # printing the DataFrame shows the old (unsliced version)

,CATAID,RA,DEC,Z,normalized redshift quality,logmstar,dellogmstar
0,6802,174.00600,0.72093,0.05054,4,9.076030,0.131666
1,6806,174.02279,0.70594,0.33124,4,10.979200,0.099166
2,6808,174.10071,0.65891,0.22936,4,10.791600,0.098116
3,6810,174.10908,0.80390,0.32630,4,11.119700,0.096136
4,6816,174.01896,0.66580,0.07641,4,9.012390,0.146456
...,...,...,...,...,...,...,...
113153,4321789,219.54175,1.20398,0.29884,4,10.410600,0.131773
113154,4322179,220.18208,1.03991,0.22929,3,9.689020,0.164714
113155,4327264,215.73183,1.66110,0.00006,4,0.464692,0.168939
113156,4327642,222.77558,1.53559,0.00034,4,1.253310,0.103429
113157,4348349,180.76758,-0.12518,0.12256,4,9.825090,0.060988

In [32]:
# To save this sliced version, you need to assign a variable to this sliced DataFrame: 
sliced_gama = gama.loc[:, ('CATAID', 'RA', 'DEC', 'Z')] # one could have used "desired_columns" instead, but you can also just type in the column names directly here
sliced_gama

         CATAID         RA      DEC        Z
0          6802  174.00600  0.72093  0.05054
1          6806  174.02279  0.70594  0.33124
2          6808  174.10071  0.65891  0.22936
3          6810  174.10908  0.80390  0.32630
4          6816  174.01896  0.66580  0.07641
...         ...        ...      ...      ...
113153  4321789  219.54175  1.20398  0.29884
113154  4322179  220.18208  1.03991  0.22929
113155  4327264  215.73183  1.66110  0.00006
113156  4327642  222.77558  1.53559  0.00034
113157  4348349  180.76758 -0.12518  0.12256

[113158 rows x 4 columns]

In [33]:
# Function to slice GAMA dataframe by column names: 
def GAMA_slice(gama, desired_columns):
    '''
    Slices the GAMA DataFrame by a desired list of column names. WIP want to add iloc functionality.  

    Inputs: 
    gama (PD DataFrame): Current working GAMA data catalog as a Pandas DataFrame. 
    desired_columns (list): List of columns you want to slice by. 
    Returns: Pandas DataFrame
    '''
    return gama.loc[:, desired_columns]

stellar_masses = GAMA_slice(gama, desired_columns=('CATAID', 'logmstar'))
stellar_masses # can now use this function whenever one wants to slice by columns.

         CATAID   logmstar
0          6802   9.076030
1          6806  10.979200
2          6808  10.791600
3          6810  11.119700
4          6816   9.012390
...         ...        ...
113153  4321789  10.410600
113154  4322179   9.689020
113155  4327264   0.464692
113156  4327642   1.253310
113157  4348349   9.825090

[113158 rows x 2 columns]

In [ ]:
### come back and add iloc functionality / example

### Filtering Data by Row Values

In [34]:
gama

,CATAID,RA,DEC,Z,normalized redshift quality,logmstar,dellogmstar
0,6802,174.00600,0.72093,0.05054,4,9.076030,0.131666
1,6806,174.02279,0.70594,0.33124,4,10.979200,0.099166
2,6808,174.10071,0.65891,0.22936,4,10.791600,0.098116
3,6810,174.10908,0.80390,0.32630,4,11.119700,0.096136
4,6816,174.01896,0.66580,0.07641,4,9.012390,0.146456
...,...,...,...,...,...,...,...
113153,4321789,219.54175,1.20398,0.29884,4,10.410600,0.131773
113154,4322179,220.18208,1.03991,0.22929,3,9.689020,0.164714
113155,4327264,215.73183,1.66110,0.00006,4,0.464692,0.168939
113156,4327642,222.77558,1.53559,0.00034,4,1.253310,0.103429
113157,4348349,180.76758,-0.12518,0.12256,4,9.825090,0.060988

In [38]:
# To look at values in a column name above/below a certain value: DATAFRAME[DATAFRAME['PARAMETER] > VALUE]
gama[gama['logmstar'] > 10] # gives all GAMA columns that meet the condition that logmstar is greater than 10

,CATAID,RA,DEC,Z,normalized redshift quality,logmstar,dellogmstar
1,6806,174.02279,0.70594,0.33124,4,10.9792,0.099166
2,6808,174.10071,0.65891,0.22936,4,10.7916,0.098116
3,6810,174.10908,0.80390,0.32630,4,11.1197,0.096136
6,6826,174.18493,0.70906,0.07275,5,10.0033,0.115616
8,6835,174.20263,0.83908,0.25377,4,10.4302,0.120181
...,...,...,...,...,...,...,...
113149,4308320,140.50637,-0.93074,0.27567,4,10.4430,0.129546
113150,4316366,213.05437,1.30309,0.39424,4,10.6665,0.103570
113151,4319812,217.17037,1.24932,0.36760,3,10.7820,0.114570
113152,4321280,218.97938,1.18502,0.25990,4,10.1825,0.140112
113153,4321789,219.54175,1.20398,0.29884,4,10.4106,0.131773

In [44]:
# Different syntax gives the same thing 
gama[gama.logmstar > 10]

,CATAID,RA,DEC,Z,normalized redshift quality,logmstar,dellogmstar
1,6806,174.02279,0.70594,0.33124,4,10.9792,0.099166
2,6808,174.10071,0.65891,0.22936,4,10.7916,0.098116
3,6810,174.10908,0.80390,0.32630,4,11.1197,0.096136
6,6826,174.18493,0.70906,0.07275,5,10.0033,0.115616
8,6835,174.20263,0.83908,0.25377,4,10.4302,0.120181
...,...,...,...,...,...,...,...
113149,4308320,140.50637,-0.93074,0.27567,4,10.4430,0.129546
113150,4316366,213.05437,1.30309,0.39424,4,10.6665,0.103570
113151,4319812,217.17037,1.24932,0.36760,3,10.7820,0.114570
113152,4321280,218.97938,1.18502,0.25990,4,10.1825,0.140112
113153,4321789,219.54175,1.20398,0.29884,4,10.4106,0.131773

In [43]:
# Can also look for exact values (all conditional statements work here, as a reminder they are: >  >=  <  <=  ==  !=  |  or  and
gama[gama.logmstar == 10.9792]

,CATAID,RA,DEC,Z,normalized redshift quality,logmstar,dellogmstar
1,6806,174.02279,0.70594,0.33124,4,10.9792,0.099166
27034,136205,174.09017,-1.75252,0.22729,4,10.9792,0.094160
39225,227340,213.02571,1.21686,0.37918,4,10.9792,0.101922
57244,302472,137.98987,1.44325,0.22351,4,10.9792,0.096925
74910,484783,212.52821,-1.82239,0.27392,4,10.9792,0.102068

In [47]:
# To slice by multiple parameters and their values 
gama[(gama.logmstar < 10) | (gama.Z > 0.3)]

,CATAID,RA,DEC,Z,normalized redshift quality,logmstar,dellogmstar
0,6802,174.00600,0.72093,0.05054,4,9.076030,0.131666
1,6806,174.02279,0.70594,0.33124,4,10.979200,0.099166
3,6810,174.10908,0.80390,0.32630,4,11.119700,0.096136
4,6816,174.01896,0.66580,0.07641,4,9.012390,0.146456
5,6821,174.15312,0.81543,0.00382,4,7.502460,0.109933
...,...,...,...,...,...,...,...
113151,4319812,217.17037,1.24932,0.36760,3,10.782000,0.114570
113154,4322179,220.18208,1.03991,0.22929,3,9.689020,0.164714
113155,4327264,215.73183,1.66110,0.00006,4,0.464692,0.168939
113156,4327642,222.77558,1.53559,0.00034,4,1.253310,0.103429
113157,4348349,180.76758,-0.12518,0.12256,4,9.825090,0.060988

In [48]:
# To actually drop the values we sliced: 
gama.drop(gama[ (gama.logmstar <10) | (gama.Z > 0.3) ].index , inplace=True)

In [50]:
# Now the GAMA catalog has only galaxies with logmstar greather than 10 and Z less than 0.3
gama

,CATAID,RA,DEC,Z,normalized redshift quality,logmstar,dellogmstar
2,6808,174.10071,0.65891,0.22936,4,10.7916,0.098116
6,6826,174.18493,0.70906,0.07275,5,10.0033,0.115616
8,6835,174.20263,0.83908,0.25377,4,10.4302,0.120181
12,6840,174.34688,0.69645,0.19309,4,10.8392,0.100791
14,6844,174.39605,0.82075,0.09734,5,10.6367,0.099662
...,...,...,...,...,...,...,...
113136,4217520,177.75487,-2.03241,0.27900,4,10.5144,0.119413
113142,4256072,135.16854,-0.26994,0.26764,4,10.2136,0.152532
113149,4308320,140.50637,-0.93074,0.27567,4,10.4430,0.129546
113152,4321280,218.97938,1.18502,0.25990,4,10.1825,0.140112
113153,4321789,219.54175,1.20398,0.29884,4,10.4106,0.131773